/* ===============
	TYPOGRAPHY
=============== */

@import url(//fonts.googleapis.com/css?family=Roboto+Slab);
@import url(//fonts.googleapis.com/css?family=Comfortaa);

// Body font
$base-font-size: 15px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: Comfortaa, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-line-height: 28px;


// Headings
$heading-font-weight: 400;
$heading-font-family: Comfortaa, 'Times New Roman', Times, serif;
