.directory-content
{
    position: relative;
    z-index: 10;

    max-width: 400px;
    margin-right: auto!important;
    margin-left: auto!important;

    text-align: right;
    .initial {
        opacity: 0;
      }
    .pinned {
          opacity: 1;
      }
    .unpinned {
          opacity: 1;
      }
    .headroom--top
    {
      opacity: 0;
    }
    .headroom--not-top {
      -webkit-transition: opacity 500ms ease-in-out;
              transition: opacity 500ms ease-in-out;

      opacity: 1;
    }
}

#directory
{
    position: fixed;
    z-index: 0;
    top: 100px;

    display: inline-block;

    margin-top: 230px;

    text-align: left;
}
#directory ul,
#directory li
{
    margin: 0;
    padding-left: 0;

    list-style: none;
}
#directory > ul
{
    position: relative;

    border-left: 1px solid #ddd;
}
#directory > ul > li::before
{
    position: relative;
    top: 0;
    left: -4px;

    display: inline-block;

    width: 7px;
    height: 7px;

    content: '';

    border-radius: 50%;
    background-color: #eb5055;
}
#directory ul li a
{
    display: inline-table;

    margin-left: 5px;

    white-space: nowrap;
}
#directory ul li ul li a
{
    margin-left: 20px;

    white-space: nowrap;

    color: #5f5f5f;
}
#directory ul li ul li ul li a
{
    margin-left: 30px;

    color: #5f5f5f;
}
#directory a:hover
{
    color: #eb5055;
}